<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #000000;"
>
  <a class="navbar-brand" href="/">
    Pepehunter
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{#if_eq path "/"}}active{{/if_eq}}">
        <a class="nav-link" href="/">
          Inicio
          <span class="sr-only">
            (current)
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_eq path "/hunter"}}active{{/if_eq}}" href="/hunter">
          Hunter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_eq path "/tablas"}}active{{/if_eq}}" href="/tablas">
          Tablas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_eq path "/universo"}}active{{/if_eq}}" href="/universo">
          Universo
        </a>
      </li>
    </ul>
  </div>
</nav>