{{> head }}


{{> navbar }}
<div class="bg-ogame">
<div class="jumbotron background-overlay text-white">
    <h1 class="display-4">Hola, {{capitalizar nombre}}!</h1>
    <p class="lead">Herramienta para ogame.</p>
    <hr class="my-4">
    <p>A cazar!.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
</div>
</div>

{{> footer}}