footer {
    background-color: black;
    color: aliceblue;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 20px;
}

.ogameActivity {
    font-weight: 500;
}

.onState {
    color: #AC2222;
}

.minuteState {
    color: #F39C11;
}

.offState {
    color: #45A21A;
}

.moon {
    background-color: #E9ECEF;
}